:root {
    /*===== Colores =====*/
    --first-color: #1A73E8;
    --input-color: #576169;
    --border-color: #DADCE0;
    /*===== Fuente y tipografia =====*/
    --body-font: 'Roboto', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .75rem;
}

.register {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-image: url(../pages/img_background/login.jpg);
    object-fit: cover;
    background-size: cover;
    h1 {
        margin: 0;
    }
    /*===== FORM =====*/
    .l-form {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .form {
        width: 400px;
        padding: 4rem 2rem;
        border-radius: 1rem;
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0 10px 25px #79859c38;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        #return {
            text-decoration: none;
            color: rgb(63, 63, 63);
            margin-left: 10px;
            opacity: 1;
            transition: $transition_set;
            &:hover {
                opacity: 0.5;
                transition: $transition_set;
            }
        }
        // align-items: center;
        img {
            width: 50px;
            height: 50px;
            margin-bottom: 2rem;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        &__title {
            font-weight: 400;
            margin-bottom: 1rem;
            color: rgb(108, 113, 114);
            text-align: center;
            text-transform: uppercase;
        }
        &__div {
            position: relative;
            height: 48px;
            margin-bottom: 1.5rem;
        }
        &__input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: var(--normal-font-size);
            border: 1px solid var(--border-color);
            border-radius: .5rem;
            outline: none;
            padding: 1rem;
            background: none;
            z-index: 1;
        }
        &__label {
            position: absolute;
            left: 1rem;
            top: 1rem;
            padding: 0 .25rem;
            background-color: #dadce000;
            color: var(--input-color);
            font-size: var(--normal-font-size);
            transition: .3s;
        }
        &__button {
            display: block;
            margin-left: auto;
            padding: .75rem 2rem;
            outline: none;
            border: none;
            background-color: var(--first-color);
            color: #fff;
            font-size: var(--normal-font-size);
            border-radius: .5rem;
            cursor: pointer;
            transition: .3s;
            margin-bottom: 10px;
            &:hover {
                box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
            }
        }
    }
    /*Input focus move up label*/
    .form__input:focus+.form__label {
        top: -.5rem;
        left: .8rem;
        color: var(--first-color);
        font-size: var(--small-font-size);
        font-weight: 500;
        z-index: 10;
        background-color: #fff;
        border-radius: 2px;
    }
    /*Input focus sticky top label*/
    .form__input:not(:placeholder-shown).form__input:not(:focus)+.form__label {
        top: -.5rem;
        left: .8rem;
        z-index: 10;
        font-size: var(--small-font-size);
        font-weight: 500;
        background-color: rgba(255, 255, 255, 0.466);
    }
    /*Input focus*/
    .form__input:focus {
        border: 1.5px solid var(--first-color);
    }
}