/* FONT FACE - font-display: fallback; */

@font-face {
    font-family: "ProximaNovaRg";
    src: url("/fonts/ProximaNovaA-Extrabld.woff2") format("woff2"), url("/fonts/ProximaNovaA-Extrabld.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}