    // css components
    // menu + history + music
    .post {
        &__items {
            width: 100%;
            height: auto;
            margin-bottom: 30px;
            padding: 10px 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: $box_shadow;
            .owner {
                width: 100%;
                height: 50px;
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                img {
                    width: 45px;
                    height: 45px;
                    object-fit: cover;
                    border-radius: 50%;
                    margin-right: 20px;
                }
                a {
                    font-size: 18px;
                    font-weight: bold;
                    text-decoration: none;
                    color: #000;
                }
            }
            .contents {
                width: 100%;
                height: auto;
                margin-bottom: 20px;
                .content {
                    font-size: 16px;
                    line-height: 27px;
                    color: $gray_text;
                }
            }
            .like {
                width: 100%;
                height: 50px;
                position: relative;
                margin-bottom: 20px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                background-color: $background_music;
                border-radius: 10px;
                transition: 0.5s;
                .img {
                    width: 35px;
                    height: 35px;
                    border-radius: 50px;
                    object-fit: cover;
                }
                .name {
                    font-size: 14px;
                    font-weight: bold;
                    color: $gray_text;
                }
                .author {
                    font-size: 14px;
                    font-weight: bold;
                    color: $textfield;
                }
                a {
                    text-decoration: none;
                    text-align: center;
                    i {
                        color: $gray_text;
                    }
                }
                .time {
                    font-size: 14px;
                    font-weight: bold;
                    color: $textfield;
                }
                &:hover {
                    transition: 0.5s;
                    background-color: $btn_play;
                }
            }
            .comment {
                form {
                    width: 100%;
                    display: flex;
                    margin-bottom: 10px;
                    position: relative;
                    .comment-input {
                        width: 100%;
                        height: 25px;
                        border: 1px solid;
                        border-color: #ccc;
                        border-radius: 5px;
                        padding: 2px 10px;
                        padding-right: 22%;
                        &:focus {
                            outline: none;
                            border-color: rgb(155, 155, 155);
                        }
                    }
                    .comment-btn {
                        height: 25px;
                        font-size: 15px;
                        width: 20%;
                        border: 1px solid #ccc;
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                        padding: 2px 5px;
                        background-color: $border_set;
                        position: absolute;
                        margin-top: px;
                        right: 0px;
                        &:hover {
                            background-color: $sky;
                        }
                    }
                }
            }
        }
    }