.profile {
    width: 100%;
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    header {}
}